@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutMainNav.cshtml";
}

<div class="lg:w-[100%] w-full">
    <header class="bg-secondary lg:px-12 px-4 border-b border-secondaryDark">
        <div class="container relative">
            <div class="grid grid-cols-12 gap-x-4 h-[60px]">
                <div class="col-span-6">
                    <div class="bg-secondary p-3 inline-block md:absolute bottom-[-10px] left-0 z-10 md:shadow-lg">
                        <img src="~/Assets/img/logo.jpg" class="md:w-[200px] w-[160px]" alt="Logo">
                    </div>
                </div>
                <div class="col-span-6 my-auto ml-auto">
                    <div class="flex items-center gap-x-4">
                        <h2 class="text-lg font-semibold text-primary">Hello Recce</h2>
                        <!-- Mobile Navbar -->
                        <div class="lg:hidden block">
                            <svg id="mainMenuDrop" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                 width="18" height="18" fill="rgba(255,255,255,1)">
                                <path d="M3 4H21V6H3V4ZM9 11H21V13H9V11ZM3 18H21V20H3V18Z"></path>
                            </svg>
                            <div class="mainMenuDropBox w-full bg-secondaryDark absolute top-0 left-0 z-10 p-6">
                                <div class="text-end">
                                    <svg class="mainMenuCloseIcon cursor-pointer ml-auto"
                                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                         height="24" fill="#fff">
                                        <path d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z">
                                        </path>
                                    </svg>
                                </div>
                                <ul>
                                    <li class="border-b border-primaryBL py-3 py-3">
                                        <a href="#" class="headLinks text-base block font-semibold text-white">
                                            Home
                                        </a>
                                    </li>
                                    <li class="border-b border-primaryBL py-3">
                                        <a href="#" class="headLinks text-base block font-semibold text-white">
                                            Calender
                                        </a>
                                    </li>
                                    <li class="border-b border-primaryBL py-3">
                                        <a href="#" class="headLinks text-base block font-semibold text-white">
                                            Forms
                                        </a>
                                    </li>
                                    <li class="border-b border-primaryBL py-3">
                                        <a href="#" class="headLinks text-base block font-semibold text-white">
                                            Setting
                                        </a>
                                    </li>
                                    <li class="border-b border-primaryBL py-3">
                                        <a href="#" class="headLinks text-base block font-semibold text-white">
                                            Return
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <div class="container mx-auto lg:px-2 px-4">
        <div class="pb-12">
            <div class="flex md:flex-row flex-col md:items-start items-center my-16">
                <div class="w-[20%]">
                    <a href="Dashboard/Index">
                        <div class="flex items-center items-center gap-x-2">
                            <svg width="14" height="14" viewBox="0 0 21 21" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.9861 9.15357H4.44295L10.7966 2.79989C11.3044 2.29211 11.3044 1.45884 10.7966 0.951069C10.6762 0.830371 10.5331 0.734613 10.3756 0.669278C10.2181 0.603942 10.0492 0.570313 9.87873 0.570312C9.70821 0.570312 9.53936 0.603942 9.38186 0.669278C9.22435 0.734613 9.08128 0.830371 8.96083 0.951069L0.380758 9.53114C0.260059 9.65159 0.164301 9.79467 0.0989659 9.95217C0.0336305 10.1097 0 10.2785 0 10.449C0 10.6196 0.0336305 10.7884 0.0989659 10.9459C0.164301 11.1034 0.260059 11.2465 0.380758 11.3669L8.96083 19.947C9.08137 20.0675 9.22447 20.1632 9.38196 20.2284C9.53946 20.2936 9.70826 20.3272 9.87873 20.3272C10.0492 20.3272 10.218 20.2936 10.3755 20.2284C10.533 20.1632 10.6761 20.0675 10.7966 19.947C10.9172 19.8265 11.0128 19.6834 11.078 19.5259C11.1433 19.3684 11.1768 19.1996 11.1768 19.0291C11.1768 18.8586 11.1433 18.6898 11.078 18.5323C11.0128 18.3749 10.9172 18.2318 10.7966 18.1112L4.44295 11.7575H18.9861C19.7022 11.7575 20.2881 11.1716 20.2881 10.4555C20.2881 9.73946 19.7022 9.15357 18.9861 9.15357Z"
                                      fill="#C59C42" />
                            </svg>
                            <span class="md:text-lg text-base font-medium text-primary">Back</span>
                        </div>
                    </a>
                </div>
                <div class="w-[80%]">
                    <h1 class="md:text-3xl text-xl font-bold text-primary text-center md:pt-0 pt-3 mx-auto">
                        Employee & Contract Amendment Form (ECAF)
                    </h1>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-6">
                <!-- Column #1 -->
                <div class="lg:col-span-4 md:col-span-6 col-span-12" id="ECAF_Form">
                    <div class="amendmendBx border border-primary p-6 h-[200px] flex justify-center items-center">
                        <div class="">
                            <svg class="mx-auto" width="50" height="60" viewBox="0 0 63 72" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.51744 70.9936C0.66503 70.3601 -0.00368952 69.0486 1.52985e-05 67.1147C0.0370635 50.1293 0.0444722 33.1446 0.0222433 16.1604C0.0222433 14.471 0.805811 13.3022 2.23217 12.8631C2.42901 12.7968 2.63412 12.7581 2.84161 12.7483C4.92001 12.7359 6.99965 12.7298 9.08053 12.7298C9.32673 12.7105 9.57114 12.7849 9.76485 12.9381C9.95856 13.0912 10.0873 13.3119 10.1253 13.5559C10.1803 13.7732 10.1581 14.0029 10.0624 14.2056C9.96681 14.4084 9.80372 14.5716 9.60105 14.6674C9.32564 14.79 9.02296 14.8385 8.72301 14.8082C7.05831 14.8082 5.39423 14.8082 3.73077 14.8082C2.35258 14.8082 2.1025 15.0564 2.1025 16.4049C2.1025 33.3903 2.1025 50.375 2.1025 67.3592C2.1025 68.6318 2.38406 68.9189 3.63259 68.9189H38.0189C39.2359 68.9189 39.5397 68.6207 39.5397 67.4184C39.5397 59.7705 39.544 52.1213 39.5527 44.4708C39.5527 43.8651 39.4341 43.665 38.7765 43.6669C31.1964 43.6928 23.6164 43.6854 16.0382 43.6835C13.7245 43.6835 12.5019 42.4517 12.5019 40.125C12.5019 27.9238 12.5019 15.722 12.5019 3.51958C12.5019 1.24482 13.7375 0 16.0122 0H46.4455C48.6684 0 49.9373 1.24667 49.9391 3.46215C49.9391 6.673 49.9391 9.88384 49.9391 13.0947C49.9391 13.2336 49.9391 13.3725 49.9391 13.5115C49.8873 14.1154 49.4834 14.5303 48.9333 14.5488C48.7939 14.5539 48.655 14.5305 48.5251 14.48C48.3951 14.4295 48.2768 14.353 48.1774 14.2552C48.078 14.1574 47.9997 14.0403 47.9471 13.9111C47.8946 13.782 47.869 13.6435 47.8718 13.5041C47.8459 12.5575 47.8718 11.6109 47.8718 10.6625C47.8718 8.26051 47.8718 5.85732 47.8718 3.45289C47.8718 2.4248 47.5273 2.07655 46.5048 2.07655H15.94C14.9564 2.07655 14.6026 2.42851 14.6026 3.41029C14.6026 15.6806 14.6026 27.9516 14.6026 40.2232C14.6026 41.2458 14.949 41.5922 15.9752 41.5922H46.4584C47.5254 41.5922 47.8589 41.255 47.8589 40.1788C47.8589 32.8296 47.8589 25.4817 47.8589 18.1351C47.8589 16.931 48.159 16.6365 49.3816 16.6365C51.208 16.6365 53.0339 16.6365 54.8591 16.6365C55.6798 16.6365 56.1558 17.007 56.1725 17.6442C56.1892 18.2814 55.7001 18.7112 54.8536 18.7149C53.3976 18.7149 51.9416 18.7297 50.4856 18.7149C50.0799 18.7149 49.9132 18.7927 49.9299 19.2428C49.9657 20.2814 49.9657 21.3212 49.9299 22.3623C49.915 22.8106 50.0781 22.8976 50.4856 22.8921C51.9416 22.8699 53.3976 22.8791 54.8536 22.8921C55.702 22.8921 56.1966 23.2996 56.1743 23.9609C56.1521 24.6222 55.6797 24.9668 54.861 24.9686C53.4291 24.9686 51.9953 24.9872 50.5634 24.9686C50.1077 24.9594 49.9076 25.0427 49.928 25.5595C49.9706 26.5747 49.9632 27.5972 49.928 28.6086C49.9132 29.0458 50.0558 29.1532 50.4837 29.1477C51.9397 29.1217 53.3957 29.1347 54.8517 29.1384C55.7038 29.1384 56.1966 29.5404 56.1817 30.1998C56.1669 30.8593 55.689 31.2131 54.8739 31.2168C53.4179 31.2168 51.962 31.2372 50.5078 31.2057C50.041 31.1964 49.9243 31.3483 49.9373 31.7929C49.9669 32.808 49.9669 33.8244 49.9373 34.842C49.9243 35.2662 50.0447 35.3977 50.4763 35.3866C51.9082 35.3606 53.342 35.3755 54.7758 35.3773C55.702 35.3773 56.1929 35.7571 56.1817 36.4332C56.1706 37.1093 55.6779 37.4557 54.7424 37.4576C53.3105 37.4576 51.8768 37.4705 50.4448 37.4483C50.0503 37.4483 49.941 37.5632 49.9373 37.954C49.9262 39.1525 50.0447 40.3622 49.8187 41.6162H53.4958C54.0737 41.6162 54.6535 41.5847 55.2278 41.6329C55.3567 41.6342 55.484 41.6616 55.602 41.7134C55.7201 41.7652 55.8264 41.8404 55.9147 41.9343C56.0029 42.0283 56.0713 42.1391 56.1156 42.2602C56.1599 42.3813 56.1792 42.51 56.1725 42.6388C56.1725 43.2278 55.8335 43.5779 55.2593 43.678C55.0527 43.7021 54.8444 43.7077 54.6368 43.6946C50.5226 43.6946 46.4103 43.7058 42.2961 43.6817C41.7404 43.6817 41.5885 43.8262 41.6144 44.3689C41.661 45.2945 41.661 46.2219 41.6144 47.1475C41.5829 47.7181 41.7367 47.8885 42.3257 47.8774C46.4158 47.8496 50.506 47.8626 54.5961 47.8626C54.7813 47.8626 54.9666 47.8533 55.1518 47.8626C55.7557 47.9107 56.1688 48.322 56.1836 48.8721C56.1984 49.4223 55.7668 49.8854 55.1314 49.9317C54.9462 49.9465 54.761 49.9317 54.5757 49.9317C50.4837 49.9317 46.3936 49.9317 42.3035 49.9187C41.7719 49.9187 41.5996 50.0391 41.6125 50.5967C41.6514 52.3287 41.644 54.0626 41.6125 55.7964C41.6033 56.2892 41.6978 56.4633 42.2442 56.4614C47.8366 56.4392 53.4291 56.4503 59.0215 56.4466C59.9885 56.4466 60.3404 56.0761 60.3404 55.0925C60.3404 40.0497 60.3404 25.0057 60.3404 9.96041C60.3404 8.92121 60.0107 8.58221 58.9844 8.57851C57.158 8.57851 55.3333 8.57851 53.5069 8.57851C53.2994 8.58918 53.0913 8.57738 52.8863 8.54331C52.3176 8.41179 51.9916 8.04131 52.0379 7.45224C52.0824 6.90763 52.4084 6.52604 52.9771 6.52604C55.2426 6.51122 57.5081 6.46862 59.7699 6.55938C61.1777 6.61681 62.3188 7.96351 62.4114 9.4195C62.4262 9.6492 62.4207 9.88075 62.4207 10.1123V54.8776C62.4207 57.3321 61.2259 58.5158 58.7547 58.5158C53.2772 58.5158 47.8014 58.5269 42.3239 58.5028C41.7422 58.5028 41.5829 58.6529 41.607 59.2271C41.6477 60.8943 41.6348 62.5614 41.607 64.2175C41.607 64.6343 41.7033 64.7732 42.1423 64.7732C45.7249 64.7565 49.3056 64.7732 52.8863 64.7602C53.694 64.7602 54.0719 64.3731 54.0904 63.5728C54.1033 63.0171 54.0904 62.4614 54.0904 61.9057C54.0904 61.0962 54.4775 60.609 55.1129 60.609C55.7483 60.609 56.1595 61.0814 56.1688 61.876C56.1688 62.4781 56.178 63.0783 56.1688 63.6784C56.1373 65.4938 54.8202 66.8275 53.0049 66.8405C49.4445 66.8578 45.8854 66.8578 42.3276 66.8405C41.7719 66.8405 41.5662 66.9535 41.5996 67.5518C41.6996 69.3505 40.7512 70.4379 39.1155 71.014L2.51744 70.9936Z"
                                      fill="#C39639" />
                                <path d="M31.1669 39.5193H18.137C16.9737 39.5193 16.6459 39.2081 16.6662 38.0373C16.6922 36.4924 16.5625 34.9438 16.7681 33.4063C17.0812 31.0704 18.3167 29.407 20.41 28.3529C21.5066 27.7972 22.6903 27.4767 23.8239 27.0229C24.6594 26.6876 25.5115 26.3597 26.0079 25.5262C26.3173 25.0038 26.3895 24.5999 25.7856 24.1331C23.9203 22.6734 22.781 20.7303 22.6088 18.3573C22.4328 15.9492 22.2587 13.5003 22.7699 11.1088C23.6665 6.93722 27.5251 4.17898 31.9634 4.44017C35.9165 4.66802 39.4083 7.99124 39.8251 12.0351C40.0643 14.2421 40.0563 16.4689 39.801 18.6741C39.5268 20.9526 38.3857 22.8087 36.5778 24.2128C36.1165 24.5703 36.1184 24.8704 36.3203 25.3242C36.5868 25.8677 37.0286 26.3056 37.5744 26.5672C38.2672 26.9377 39.0193 27.1748 39.751 27.4527C40.4178 27.7083 41.0958 27.9435 41.746 28.2362C44.3783 29.4181 45.6564 31.5131 45.7639 34.3492C45.812 35.6459 45.7824 36.9426 45.7769 38.23C45.7769 39.1562 45.4064 39.5267 44.4802 39.5267C40.0418 39.5242 35.604 39.5217 31.1669 39.5193ZM31.2243 37.439C35.1514 37.439 39.0785 37.4242 43.0057 37.4538C43.6003 37.4538 43.7466 37.2834 43.7114 36.7129C43.6596 35.9719 43.7114 35.2309 43.6892 34.49C43.6447 32.3004 42.6537 30.7518 40.5808 29.9553C39.5917 29.5737 38.5895 29.2143 37.6022 28.8438C36.1406 28.2696 34.8865 27.4453 34.3123 25.88C34.1919 25.5521 33.9992 25.6058 33.7714 25.6762C32.1072 26.1986 30.3229 26.1986 28.6587 25.6762C28.4735 25.6206 28.2623 25.5206 28.1512 25.8262C27.4602 27.7305 25.8412 28.5011 24.1203 29.1291C23.1941 29.4699 22.242 29.7645 21.3417 30.1998C19.9061 30.9 19.067 32.0226 18.8317 33.6138C18.6761 34.6734 18.7928 35.7366 18.7243 36.7962C18.6909 37.313 18.8465 37.4501 19.3689 37.4483C23.3238 37.4279 27.275 37.439 31.2243 37.439ZM37.8467 15.5583C37.8467 14.521 37.8689 13.7819 37.8467 13.0428C37.7263 9.49355 35.0273 6.64825 31.6578 6.50561C27.953 6.34816 25.0039 8.82853 24.6501 12.5204C24.4741 14.3383 24.4741 16.1689 24.6501 17.9868C24.9743 21.2804 27.5788 23.7942 30.7149 23.9812C34.0492 24.1813 36.902 22.0751 37.6689 18.8482C37.9486 17.6664 37.8263 16.4586 37.8467 15.5583Z"
                                      fill="#C39639" />
                            </svg>
                            <h3 class="text-lg font-medium text-center mt-4">
                                Employee Contract & Timegate Amendments
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- Column #2 -->
                <div class="lg:col-span-4 md:col-span-6 col-span-12" id="SetUpSiteCard">
                    <div class="amendmendBx border border-primary p-6 h-[200px] flex justify-center items-center">
                        <div class="">
                            <svg class="mx-auto" width="50" height="50" viewBox="0 0 72 71" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M44.3827 0.00134277C44.8254 0.119911 45.2756 0.221805 45.711 0.360752C48.8086 1.35376 50.8446 4.1049 50.8668 7.49891C50.9057 13.3458 50.8817 19.1927 50.8668 25.0395C50.8668 26.1252 50.3111 26.768 49.407 26.7847C48.4807 26.7995 47.8878 26.1419 47.886 25.0303C47.886 19.2279 47.886 13.4273 47.886 7.62674C47.886 5.38692 46.6707 3.71585 44.6735 3.13783C44.1582 3.00126 43.6261 2.93888 43.0932 2.95257C31.4699 2.95257 19.8453 2.95257 8.21945 2.95257C5.31083 2.95257 3.43042 4.82372 3.42857 7.72122C3.42857 23.2746 3.42857 38.8286 3.42857 54.3832C3.42857 57.3215 5.30342 59.1778 8.26206 59.1815C14.3979 59.1815 20.5345 59.1815 26.6716 59.1815C28.0073 59.1815 28.6798 59.6725 28.6817 60.6433C28.6835 61.614 27.9981 62.1254 26.6827 62.1254C20.5468 62.1254 14.4091 62.0753 8.27318 62.1439C3.93063 62.1902 1.00163 59.0611 0.579231 55.9154C0.579231 55.8561 0.510685 55.8024 0.473633 55.7468V6.37992C0.525659 6.2831 0.56786 6.18132 0.59961 6.07609C1.04053 3.8233 2.26697 2.14112 4.23816 0.964706C5.05517 0.473761 5.97963 0.29591 6.86518 0.00134277H44.3827Z"
                                      fill="url(#paint0_linear_51_353)" />
                                <path d="M71.6159 53.3921C71.3677 54.4666 71.2787 55.5689 70.9897 56.6379C68.6017 65.4693 60.615 71.3347 51.452 70.9883C42.2389 70.6419 34.3134 63.3314 33.2499 54.2035C32.068 44.066 38.554 35.0326 48.5322 32.9187C59.0644 30.6882 69.7059 38.0264 71.351 48.6383C71.4307 49.1607 71.527 49.6813 71.6159 50.2019V53.3921ZM51.917 68.0389C60.767 68.3983 68.283 61.2824 68.648 52.199C68.9963 43.5472 61.91 35.8959 53.1953 35.5124C44.16 35.116 36.455 42.0448 36.0604 50.9207C35.6509 60.1134 42.6483 67.6684 51.917 68.0389Z"
                                      fill="url(#paint1_linear_51_353)" />
                                <path d="M25.6951 23.6797H39.8621C40.1177 23.6797 40.3734 23.6797 40.6254 23.6982C40.9863 23.7261 41.324 23.8872 41.5729 24.1501C41.8218 24.4131 41.9641 24.7591 41.9722 25.121C41.9758 25.4726 41.855 25.814 41.6313 26.0852C41.4076 26.3564 41.0953 26.5398 40.7495 26.6031C40.5432 26.631 40.3349 26.6403 40.127 26.6309H11.2353C10.9354 26.6557 10.6334 26.6224 10.3461 26.5327C10.0395 26.4206 9.77844 26.2103 9.60357 25.9346C9.4287 25.6589 9.34976 25.3332 9.37901 25.008C9.41378 24.6728 9.56401 24.3602 9.80398 24.1236C10.044 23.887 10.3587 23.7412 10.6944 23.7112C10.9483 23.692 11.2031 23.6858 11.4577 23.6927L25.6951 23.6797Z"
                                      fill="url(#paint2_linear_51_353)" />
                                <path d="M19.7609 38.4469C16.8467 38.4469 13.9307 38.4581 11.0165 38.4469C9.7882 38.4469 9.05641 37.4558 9.49178 36.4331C9.78079 35.7532 10.331 35.5068 11.0461 35.5068C13.4971 35.5068 15.95 35.5068 18.4029 35.5068C21.7376 35.5068 25.0686 35.5068 28.3959 35.5068C29.3223 35.5068 29.9188 35.9292 30.0633 36.6536C30.2689 37.6466 29.602 38.4414 28.4997 38.4469C25.5911 38.4581 22.675 38.4469 19.7609 38.4469Z"
                                      fill="url(#paint3_linear_51_353)" />
                                <path d="M18.307 11.8229C20.5968 11.8229 22.8861 11.8229 25.1747 11.8229C25.4288 11.8157 25.6831 11.8319 25.9343 11.8711C26.28 11.9257 26.5944 12.1036 26.8192 12.3719C27.0439 12.6403 27.1639 12.981 27.157 13.331C27.1539 13.6693 27.0326 13.9958 26.814 14.254C26.5954 14.5122 26.2933 14.6857 25.9602 14.7445C25.7101 14.7882 25.4563 14.8068 25.2025 14.8001C20.5783 14.8001 15.9542 14.8001 11.33 14.8001C11.2133 14.8001 11.0984 14.8001 10.9836 14.8001C10.0202 14.7501 9.39218 14.1702 9.38291 13.318C9.37365 12.4658 10.0035 11.8711 10.9539 11.8174C11.1392 11.8174 11.3245 11.8174 11.5097 11.8174L18.307 11.8229Z"
                                      fill="url(#paint4_linear_51_353)" />
                                <path d="M57.7545 53.2532C56.6429 53.2532 55.5314 53.2792 54.4198 53.2403C53.914 53.2236 53.8121 53.3959 53.8158 53.8646C53.8393 56.0877 53.8393 58.3053 53.8158 60.5174C53.8066 61.7123 52.7617 62.4478 51.7539 61.9995C51.1092 61.7086 50.8628 61.1787 50.8665 60.4896C50.8757 58.3183 50.8479 56.147 50.8831 53.9776C50.8924 53.4033 50.7386 53.2365 50.1588 53.2365C47.9597 53.2717 45.7606 53.2606 43.5634 53.2365C42.5334 53.2365 41.8831 52.5085 41.9961 51.5562C42.0869 50.7948 42.6686 50.3057 43.5616 50.3001C45.7366 50.2872 47.9134 50.2686 50.0865 50.3113C50.7498 50.3242 50.8924 50.1075 50.8831 49.4924C50.8461 47.4378 50.8665 45.3814 50.8702 43.325C50.8702 42.0615 51.3815 41.415 52.3634 41.4279C53.3064 41.4409 53.8196 42.0986 53.8214 43.3028C53.8214 45.4037 53.8381 47.5064 53.8103 49.6017C53.8103 50.1353 53.9326 50.3113 54.4921 50.302C56.6911 50.2705 58.8902 50.2835 61.0874 50.302C61.9526 50.302 62.5176 50.7374 62.6806 51.4599C62.7242 51.6759 62.719 51.8989 62.6655 52.1127C62.6119 52.3264 62.5114 52.5256 62.3712 52.6956C62.231 52.8656 62.0547 53.0022 61.855 53.0954C61.6554 53.1887 61.4374 53.2363 61.2171 53.2347C60.061 53.2643 58.9032 53.2347 57.7453 53.2347L57.7545 53.2532Z"
                                      fill="url(#paint5_linear_51_353)" />
                                <defs>
                                    <linearGradient id="paint0_linear_51_353" x1="25.6808" y1="0.00134277"
                                                    x2="25.6808" y2="62.1444" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#C59C42" />
                                        <stop offset="1" stop-color="#EDD8A3" />
                                    </linearGradient>
                                    <linearGradient id="paint1_linear_51_353" x1="52.3636" y1="32.5182"
                                                    x2="52.3636" y2="71.0029" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#C59C42" />
                                        <stop offset="1" stop-color="#EDD8A3" />
                                    </linearGradient>
                                    <linearGradient id="paint2_linear_51_353" x1="25.6727" y1="23.6797"
                                                    x2="25.6727" y2="26.6389" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#C59C42" />
                                        <stop offset="1" stop-color="#EDD8A3" />
                                    </linearGradient>
                                    <linearGradient id="paint3_linear_51_353" x1="19.7328" y1="35.5068"
                                                    x2="19.7328" y2="38.4519" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#C59C42" />
                                        <stop offset="1" stop-color="#EDD8A3" />
                                    </linearGradient>
                                    <linearGradient id="paint4_linear_51_353" x1="18.27" y1="11.8174" x2="18.27"
                                                    y2="14.8014" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#C59C42" />
                                        <stop offset="1" stop-color="#EDD8A3" />
                                    </linearGradient>
                                    <linearGradient id="paint5_linear_51_353" x1="52.3466" y1="41.4277"
                                                    x2="52.3466" y2="62.1322" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#C59C42" />
                                        <stop offset="1" stop-color="#EDD8A3" />
                                    </linearGradient>
                                </defs>
                            </svg>
                            <h3 class="text-lg font-medium text-center mt-4">
                                Setting Up Site Cards
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- Column #3 -->
                <div class="lg:col-span-4 md:col-span-6 col-span-12" id="TerminatingSiteCard">
                    <div class="amendmendBx border border-primary p-6 h-[200px] flex justify-center items-center">
                        <div class="">
                            <svg class="mx-auto" width="50" height="50" viewBox="0 0 72 72" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M71.8544 56.3339C71.439 57.3931 70.6474 57.7617 69.5376 57.7412C67.1815 57.7 64.8217 57.7636 62.4656 57.7205C59.0568 57.6731 55.6688 58.2594 52.4742 59.4497C41.8072 63.3173 31.1302 67.1618 20.4433 70.9831C18.8938 71.5446 18.0984 71.1591 17.5351 69.5927C14.9264 62.3342 12.317 55.0756 9.70705 47.8171C9.31592 46.7279 9.43943 46.1796 10.1431 45.912C10.8149 45.6556 11.2959 46.0224 11.6833 47.0985C14.2321 54.1811 16.7741 61.2656 19.3092 68.352C19.5169 68.9359 19.7134 69.0276 20.288 68.8198C27.4741 66.2161 34.6659 63.628 41.8633 61.0554C42.1132 60.9761 42.3451 60.849 42.5464 60.6811C40.8154 60.9731 39.0843 61.2594 37.3533 61.5569C32.6648 62.3616 27.9769 63.1669 23.2897 63.9729C22.1837 64.16 21.3322 63.5575 21.1338 62.4047C20.1969 57.0051 19.2668 51.6054 18.3436 46.2058C17.0585 38.7127 15.7735 31.2203 14.4885 23.7284C14.1498 21.7522 13.7886 19.7797 13.4779 17.7979C13.4012 17.3151 13.2403 17.3058 12.8473 17.4424C9.56857 18.582 6.288 19.7199 2.9962 20.8109C2.43478 20.998 2.35056 21.1852 2.54706 21.7316C4.94869 28.3439 7.33536 34.9649 9.70705 41.5947C9.791 41.7867 9.85741 41.9858 9.90543 42.1898C9.96376 42.4326 9.92833 42.6885 9.80621 42.9064C9.6841 43.1243 9.48429 43.2881 9.24669 43.365C8.72083 43.569 8.28105 43.3875 7.98349 42.9121C7.88099 42.7289 7.79878 42.535 7.73833 42.3339C5.27931 35.492 2.8203 28.6502 0.361277 21.8084C0.174137 21.2937 0.043124 20.794 0.252721 20.2476C0.516589 19.5627 1.06678 19.2707 1.7068 19.0517C5.26247 17.8372 8.79942 16.6058 12.3532 15.4025C12.8491 15.2341 13.0569 15.0601 12.9146 14.4799C12.7037 13.5469 12.545 12.6029 12.4393 11.6523C12.2971 10.5088 12.8679 9.74717 13.9963 9.55068C17.5807 8.92688 21.1663 8.31492 24.7531 7.71482C25.7899 7.54078 25.7918 7.55761 25.7918 6.48155C25.7918 5.15036 25.7918 3.81978 25.7918 2.48984C25.7918 0.85423 26.4393 0.210481 28.0936 0.210481C37.9933 0.210481 47.8918 0.210481 57.789 0.210481C58.9343 0.210481 60.0777 0.221709 61.2211 0.210481C61.5125 0.201477 61.8026 0.252855 62.0731 0.36139C62.3436 0.469925 62.5888 0.633292 62.7931 0.841165C65.6002 3.52288 68.4073 6.18962 71.1994 8.87133C71.4338 9.12631 71.6519 9.3957 71.8526 9.67792L71.8544 56.3339ZM46.6429 57.8422V57.7299H45.8045C39.8522 57.7299 33.8993 57.7299 27.9457 57.7299C26.5216 57.7299 25.7974 57.0412 25.7955 55.6526C25.788 48.9044 25.788 42.1573 25.7955 35.4116C25.7955 34.5994 26.2053 34.1016 26.8397 34.1016C27.4741 34.1016 27.8784 34.5788 27.8915 35.3947C27.8915 35.5819 27.8915 35.769 27.8915 35.9561C27.8915 42.259 27.8915 48.5619 27.8784 54.8573C27.8784 55.4393 27.9738 55.6489 28.6269 55.6489C42.101 55.6264 55.5708 55.6264 69.0361 55.6489C69.6275 55.6489 69.7585 55.488 69.7585 54.9134C69.7422 40.6272 69.7422 26.3421 69.7585 12.0583C69.7585 11.379 69.5358 11.2649 68.9313 11.2724C66.7848 11.2986 64.6364 11.306 62.4899 11.2536C60.8057 11.2125 59.9355 10.2524 59.9243 8.57938C59.913 6.75851 59.8831 4.93765 59.9243 3.11865C59.9411 2.44307 59.7072 2.32143 59.0952 2.32143C48.9635 2.33889 38.8317 2.33889 28.6999 2.32143C28.0131 2.32143 27.8596 2.50858 27.8615 3.18042C27.884 12.0047 27.889 20.829 27.8765 29.6533C27.8865 29.9098 27.8796 30.1667 27.8559 30.4224C27.8425 30.6614 27.738 30.8861 27.564 31.0504C27.3899 31.2147 27.1595 31.3061 26.9202 31.3057C26.6857 31.3394 26.447 31.2865 26.2486 31.1571C26.0503 31.0276 25.9058 30.8303 25.8423 30.6021C25.7623 30.3085 25.737 30.0028 25.7674 29.7C25.7674 23.3036 25.7674 16.9078 25.7674 10.5126C25.7674 9.92681 25.7487 9.66481 24.9983 9.80516C21.6765 10.4246 18.338 10.9692 15.0031 11.525C14.6288 11.5886 14.5053 11.7121 14.5783 12.1145C14.9732 14.2947 15.3381 16.4786 15.7142 18.6644C17.0442 26.4307 18.376 34.1983 19.7097 41.9671C20.8045 48.3561 21.9067 54.7431 22.979 61.1359C23.0801 61.7328 23.271 61.8844 23.8717 61.7759C25.9302 61.3866 28.0037 61.0479 30.0716 60.6923L46.6429 57.8422ZM62.0352 3.03819C62.0352 4.94889 62.0539 6.68743 62.024 8.42409C62.024 8.98551 62.2111 9.17265 62.7463 9.17265C64.5167 9.15955 66.2889 9.17265 68.0592 9.17265C68.0858 9.17781 68.1132 9.17711 68.1395 9.17064C68.1659 9.16417 68.1905 9.15209 68.2116 9.13519C68.2328 9.11828 68.2501 9.09696 68.2622 9.07273C68.2743 9.0485 68.2811 9.02191 68.2819 8.99483L62.0352 3.03819Z"
                                      fill="url(#paint0_linear_51_360)" />
                                <path d="M49.0967 30.4186H63.5065C63.7394 30.4045 63.973 30.412 64.2045 30.4411C64.7528 30.544 65.086 30.9014 65.0916 31.4535C65.0916 32.0374 64.7528 32.4023 64.1671 32.5052C64.028 32.5218 63.8878 32.5262 63.7479 32.5183H34.3613C34.1983 32.5288 34.0347 32.5231 33.8728 32.5015C33.3227 32.3911 32.997 32.0449 32.9895 31.4853C32.9727 31.2364 33.0514 30.9903 33.2096 30.7973C33.3678 30.6044 33.5936 30.479 33.841 30.4467C34.072 30.4119 34.3061 30.4025 34.5391 30.4186H49.0967Z"
                                      fill="url(#paint1_linear_51_360)" />
                                <path d="M49.0926 22.9686H63.5024C63.7359 22.9595 63.9697 22.9664 64.2023 22.9892C64.4398 23.008 64.6619 23.114 64.826 23.2867C64.9901 23.4595 65.0846 23.6867 65.0912 23.9249C65.1194 24.1478 65.0701 24.3736 64.9515 24.5644C64.8329 24.7552 64.6523 24.8995 64.44 24.9729C64.1517 25.0696 63.8461 25.1041 63.5436 25.0739H34.4994C34.3834 25.0739 34.2655 25.0739 34.1494 25.0739C33.4009 25.0328 32.948 24.5948 32.978 23.9642C33.0079 23.3335 33.4439 22.9799 34.1794 22.9799C39.1536 22.9699 44.1247 22.9661 49.0926 22.9686Z"
                                      fill="url(#paint2_linear_51_360)" />
                                <path d="M49.0944 39.9684H34.4675C34.2349 39.9827 34.0014 39.9714 33.7713 39.9347C33.561 39.8982 33.3695 39.7909 33.2286 39.6305C33.0877 39.4702 33.0058 39.2665 32.9966 39.0533C32.9614 38.8318 33.0029 38.605 33.1142 38.4103C33.2254 38.2157 33.3998 38.0649 33.6085 37.9828C33.8943 37.8781 34.1999 37.8385 34.503 37.8668H63.5472C63.6632 37.8668 63.7792 37.8668 63.8971 37.8668C64.6457 37.9061 65.121 38.3328 65.1098 38.9466C65.0986 39.5604 64.6289 39.9628 63.8597 39.9628C58.9342 39.969 54.0124 39.9709 49.0944 39.9684Z"
                                      fill="url(#paint3_linear_51_360)" />
                                <path d="M49.0179 15.4906H63.4277C63.6838 15.4799 63.9404 15.4899 64.1949 15.5205C64.7844 15.6178 65.1157 16.0014 65.0913 16.5853C65.0955 16.8352 65.002 17.0769 64.8308 17.259C64.6595 17.4411 64.424 17.5491 64.1743 17.5603C63.9194 17.5856 63.6632 17.595 63.4071 17.5884H34.6511C34.3722 17.5976 34.093 17.5832 33.8165 17.5454C33.5799 17.5176 33.3629 17.4007 33.2096 17.2185C33.0562 17.0363 32.9781 16.8025 32.9912 16.5648C32.967 16.3281 33.0338 16.0912 33.1781 15.9021C33.3223 15.713 33.5332 15.5859 33.7678 15.5467C34.0433 15.4988 34.323 15.48 34.6025 15.4906H49.0179Z"
                                      fill="url(#paint4_linear_51_360)" />
                                <path d="M49.0162 45.3674H63.5028C63.7356 45.3593 63.9688 45.3662 64.2008 45.388C64.4501 45.404 64.6835 45.5164 64.8512 45.7016C65.0189 45.8869 65.1078 46.1301 65.0991 46.3798C65.119 46.6168 65.0496 46.8526 64.9045 47.041C64.7594 47.2294 64.5491 47.3567 64.3149 47.3979C64.0645 47.4495 63.8089 47.4721 63.5533 47.4653C53.8719 47.4653 44.1918 47.4653 34.5129 47.4653C34.2335 47.4765 33.954 47.4456 33.6838 47.3736C33.4532 47.3145 33.2539 47.1697 33.1263 46.9687C32.9987 46.7678 32.9524 46.5257 32.997 46.2919C33.0061 46.0675 33.0956 45.8538 33.2492 45.69C33.4028 45.5261 33.6102 45.4229 33.8336 45.3992C34.0888 45.3696 34.3459 45.3596 34.6027 45.3693L49.0162 45.3674Z"
                                      fill="url(#paint5_linear_51_360)" />
                                <defs>
                                    <linearGradient id="paint0_linear_51_360" x1="-4.72887" y1="36.2208"
                                                    x2="97.3528" y2="38.203" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#C39639" />
                                        <stop offset="1" stop-color="#EDD8A3" />
                                    </linearGradient>
                                    <linearGradient id="paint1_linear_51_360" x1="30.805" y1="31.4822"
                                                    x2="72.9266" y2="43.7927" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#C39639" />
                                        <stop offset="1" stop-color="#EDD8A3" />
                                    </linearGradient>
                                    <linearGradient id="paint2_linear_51_360" x1="30.7931" y1="24.0396"
                                                    x2="72.9578" y2="36.3267" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#C39639" />
                                        <stop offset="1" stop-color="#EDD8A3" />
                                    </linearGradient>
                                    <linearGradient id="paint3_linear_51_360" x1="30.8007" y1="38.9311"
                                                    x2="72.9585" y2="51.2368" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#C39639" />
                                        <stop offset="1" stop-color="#EDD8A3" />
                                    </linearGradient>
                                    <linearGradient id="paint4_linear_51_360" x1="30.8039" y1="16.5537"
                                                    x2="72.9032" y2="28.9037" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#C39639" />
                                        <stop offset="1" stop-color="#EDD8A3" />
                                    </linearGradient>
                                    <linearGradient id="paint5_linear_51_360" x1="30.797" y1="46.4307"
                                                    x2="72.9096" y2="58.7982" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#C39639" />
                                        <stop offset="1" stop-color="#EDD8A3" />
                                    </linearGradient>
                                </defs>
                            </svg>

                            <h3 class="text-lg font-medium text-center mt-4">
                                Terminating a Site Card
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- Column #4 -->
                <div class="lg:col-span-4 md:col-span-6 col-span-12" id="UpdateSiteCard">
                    <div class="amendmendBx border border-primary p-6 h-[200px] flex justify-center items-center">
                        <div class="">
                            <svg class="mx-auto" width="50" height="50" viewBox="0 0 54 72" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.2969 71.9828C5.12457 71.9272 4.95225 71.8642 4.77808 71.8178C3.69899 71.53 2.73983 70.9054 2.04004 70.035C1.34026 69.1646 0.936315 68.0937 0.88693 66.978C0.877665 66.7927 0.88693 66.6074 0.88693 66.4221C0.88693 46.4525 0.88693 26.4829 0.88693 6.51327C0.88693 3.88767 2.28774 1.89392 4.60946 1.19352C5.14163 1.03612 5.69438 0.959292 6.2493 0.965605C15.6807 0.965605 25.1109 0.965605 34.5398 0.965605C34.792 0.960284 35.0424 1.00876 35.2743 1.10781C35.5063 1.20686 35.7145 1.35419 35.885 1.54001C41.4006 7.07162 46.9241 12.5958 52.4557 18.1126C52.6407 18.2846 52.787 18.494 52.8848 18.7269C52.9825 18.9598 53.0296 19.2109 53.0227 19.4634C53.0116 26.3501 53.0116 33.2374 53.0227 40.1254C53.0293 40.2408 53.0293 40.3565 53.0227 40.4719C52.956 41.113 52.5224 41.5114 51.9295 41.4836C51.3736 41.4576 50.9901 41.0555 50.953 40.4348C50.9419 40.2273 50.953 40.0179 50.953 39.8104C50.953 33.4771 50.953 27.1438 50.966 20.8123C50.966 20.2564 50.8196 20.1156 50.273 20.1193C46.6209 20.1434 42.9688 20.136 39.3166 20.1304C36.0666 20.1304 33.8894 17.9625 33.8653 14.7069C33.8542 13.1356 33.8449 11.5569 33.8653 9.99307C33.8746 9.47795 33.7745 9.27969 33.1927 9.28154C25.5204 9.30378 17.8468 9.30378 10.1719 9.28154C9.60124 9.28154 9.38631 9.45572 9.39742 10.032C9.42522 11.4198 9.43448 12.8114 9.39742 14.1918C9.37889 14.8589 9.6031 15.109 10.272 15.0664C11.0132 15.0219 11.7543 15.0664 12.4955 15.0664H29.5888C29.8429 15.0574 30.0974 15.066 30.3503 15.0923C30.5973 15.1072 30.8284 15.2188 30.9935 15.403C31.1587 15.5872 31.2445 15.8291 31.2323 16.0762C31.2453 16.6321 30.9451 16.9879 30.3929 17.099C30.1886 17.134 29.9814 17.1495 29.7741 17.1454C23.2271 17.1454 16.6856 17.1454 10.1497 17.1454C9.75747 17.1537 9.36595 17.1081 8.98607 17.0101C7.96882 16.7155 7.32956 15.8187 7.31844 14.6384C7.2925 13.0214 7.2925 11.4038 7.31844 9.78554C7.34438 8.18091 8.34311 7.22665 9.95886 7.22665C17.6559 7.22665 25.353 7.23035 33.05 7.23777C33.6726 7.23777 33.895 7.09879 33.8542 6.44656C33.7968 5.50342 33.8209 4.55287 33.8542 3.60603C33.8672 3.18356 33.7356 3.00197 33.3076 3.06127C33.1922 3.06958 33.0764 3.06958 32.9611 3.06127H6.52539C4.16846 3.06127 2.95294 4.28605 2.95294 6.65965C2.95294 26.5379 2.95294 46.4154 2.95294 66.2924C2.95294 68.7012 4.16291 69.9149 6.57356 69.9149H47.338C49.6912 69.9149 50.9123 68.6864 50.9123 66.3146V45.9102C50.9039 45.6792 50.9076 45.4479 50.9234 45.2172C50.9318 44.97 51.0343 44.7352 51.2099 44.561C51.3855 44.3867 51.6211 44.2861 51.8684 44.2796C52.4243 44.2333 52.7948 44.5335 52.9412 45.0671C52.9877 45.2931 53.0045 45.5242 52.9912 45.7546C52.9912 52.6413 52.9912 59.5292 52.9912 66.4184C52.9912 69.2793 51.5089 71.1619 48.7443 71.879C48.6782 71.9028 48.6158 71.9358 48.559 71.9772L5.2969 71.9828ZM49.0667 18.0366L35.9332 4.91419C35.9332 8.26429 35.8961 11.77 35.9517 15.2776C35.974 16.7414 37.297 18.007 38.7589 18.0237C42.2424 18.0644 45.7278 18.0366 49.0667 18.0366Z"
                                      fill="url(#paint0_linear_51_367)" />
                                <path d="M13.0797 33.957C11.879 33.957 10.6709 33.9681 9.47576 33.957C8.15463 33.9422 7.33749 33.188 7.31896 31.8632C7.28561 29.4383 7.28561 27.0134 7.31896 24.5886C7.33749 23.2304 8.15278 22.4614 9.52024 22.4522C11.8759 22.4373 14.2316 22.4373 16.5873 22.4522C18.0178 22.4614 18.8108 23.2582 18.8108 24.7016C18.8232 27.0338 18.8232 29.366 18.8108 31.6983C18.8108 33.1917 18.0307 33.9496 16.5391 33.9588C15.3848 33.9644 14.2304 33.9588 13.0797 33.957ZM13.0112 24.5274C11.9939 24.5274 10.9729 24.5404 9.95938 24.5274C9.561 24.5274 9.37571 24.6071 9.37941 25.0555C9.39794 27.1586 9.39424 29.2617 9.37941 31.3647C9.37941 31.7353 9.47947 31.8965 9.88527 31.8928C11.9852 31.8768 14.0889 31.8768 16.1963 31.8928C16.6262 31.8928 16.7522 31.752 16.7429 31.3369C16.7263 29.2561 16.7226 27.1771 16.7429 25.0963C16.7429 24.6108 16.5577 24.5182 16.1259 24.5274C15.0864 24.5423 14.0469 24.5274 13.0074 24.5274H13.0112Z"
                                      fill="url(#paint1_linear_51_367)" />
                                <path d="M13.0573 49.6309C11.8566 49.6309 10.6485 49.642 9.45523 49.6309C8.16745 49.6161 7.34104 48.8712 7.32066 47.5927C7.28113 45.1221 7.28113 42.6515 7.32066 40.181C7.34104 38.9062 8.1693 38.1428 9.46265 38.1428C11.864 38.123 14.266 38.123 16.6687 38.1428C17.9843 38.1539 18.7921 38.958 18.8051 40.2681C18.8249 42.6929 18.8249 45.1178 18.8051 47.5427C18.7921 48.8619 17.9843 49.6291 16.6594 49.6439C15.4587 49.6402 14.258 49.6309 13.0573 49.6309ZM16.7335 43.872C16.7335 42.8325 16.7187 41.7912 16.7335 40.7517C16.7335 40.3348 16.6038 40.1958 16.1777 40.1958C14.0962 40.2143 12.016 40.2143 9.937 40.1958C9.52565 40.1958 9.36444 40.3033 9.36814 40.7369C9.38544 42.8368 9.38544 44.9399 9.36814 47.0461C9.36814 47.4389 9.49599 47.5649 9.88696 47.5612C11.99 47.5464 14.0931 47.5426 16.1962 47.5612C16.6427 47.5612 16.7391 47.3926 16.7317 46.9923C16.7206 45.951 16.7335 44.9115 16.7335 43.872Z"
                                      fill="url(#paint2_linear_51_367)" />
                                <path d="M18.8125 59.5218C18.8125 60.7225 18.8273 61.9306 18.8125 63.1239C18.7921 64.5266 18.0083 65.2955 16.6001 65.3011C14.2444 65.311 11.8887 65.311 9.53301 65.3011C8.12849 65.3011 7.32988 64.5321 7.30949 63.1258C7.28355 60.7466 7.28355 58.3674 7.30949 55.9883C7.32432 54.5856 8.12849 53.8055 9.53301 53.7963C11.8887 53.7815 14.2438 53.7815 16.5982 53.7963C17.999 53.8055 18.7921 54.5986 18.8125 55.9883C18.8236 57.1668 18.8125 58.3434 18.8125 59.5218ZM13.0128 63.2277C14.0542 63.2277 15.0936 63.211 16.1331 63.2277C16.5593 63.2277 16.7483 63.1424 16.7427 62.6625C16.7205 60.5817 16.7261 58.5027 16.7427 56.4219C16.7427 56.0068 16.6186 55.866 16.1869 55.866C14.1067 55.8845 12.0264 55.8845 9.94621 55.866C9.53857 55.866 9.37181 55.9661 9.37551 56.4033C9.39281 58.5033 9.39281 60.6033 9.37551 62.7033C9.37551 63.0943 9.4978 63.2295 9.89248 63.2221C10.9338 63.2091 11.9678 63.224 13.0128 63.224V63.2277Z"
                                      fill="url(#paint3_linear_51_367)" />
                                <path d="M34.5136 24.5274H24.53C24.2987 24.5383 24.0669 24.5296 23.837 24.5015C23.6161 24.4762 23.4113 24.3733 23.2593 24.2111C23.1072 24.0489 23.0178 23.8379 23.0069 23.6158C22.9709 23.3962 23.0115 23.1709 23.1218 22.9776C23.2321 22.7843 23.4054 22.6348 23.6128 22.554C23.8488 22.4636 24.1021 22.4275 24.354 22.4484C31.1024 22.4484 37.8507 22.4484 44.5991 22.4484C44.8289 22.4399 45.0587 22.4655 45.2809 22.5244C45.5003 22.5949 45.6893 22.7377 45.8171 22.9294C45.9449 23.1212 46.0039 23.3506 45.9846 23.5802C45.9652 23.8098 45.8686 24.0261 45.7105 24.1937C45.5525 24.3614 45.3423 24.4705 45.1142 24.5033C44.8839 24.5259 44.6524 24.5327 44.4212 24.5237L34.5136 24.5274Z"
                                      fill="url(#paint4_linear_51_367)" />
                                <path d="M34.4991 28.6873C31.1021 28.6873 27.705 28.6873 24.308 28.6873C23.791 28.6873 23.3315 28.6076 23.0869 28.0925C23.0188 27.9505 22.9844 27.7946 22.9864 27.6371C22.9884 27.4796 23.0268 27.3247 23.0985 27.1844C23.1703 27.0442 23.2734 26.9224 23.4 26.8286C23.5265 26.7347 23.673 26.6714 23.8281 26.6435C24.0792 26.6036 24.3339 26.5905 24.5878 26.6046H44.4141C44.529 26.6046 44.6457 26.6046 44.7606 26.6046C45.5518 26.6269 46.0299 27.0419 46.0076 27.6849C45.9854 28.3278 45.5444 28.678 44.7643 28.678C41.3413 28.6892 37.9196 28.6922 34.4991 28.6873Z"
                                      fill="url(#paint5_linear_51_367)" />
                                <path d="M34.4972 40.1995H24.5822C24.3517 40.2082 24.1208 40.202 23.8911 40.181C23.6565 40.1504 23.4398 40.0394 23.278 39.8668C23.1162 39.6942 23.0194 39.4707 23.0041 39.2347C22.9888 38.9986 23.0559 38.7645 23.194 38.5725C23.3322 38.3804 23.5327 38.2423 23.7614 38.1817C24.009 38.1283 24.2626 38.1084 24.5155 38.1224C31.1712 38.1224 37.8269 38.1224 44.4827 38.1224C44.6899 38.1099 44.8978 38.118 45.1034 38.1465C45.6741 38.2595 46.0187 38.6134 45.9947 39.2045C45.9706 39.7956 45.6333 40.1309 45.0348 40.1902C44.8273 40.2069 44.6198 40.2014 44.4104 40.2014L34.4972 40.1995Z"
                                      fill="url(#paint6_linear_51_367)" />
                                <path d="M34.4322 44.3611H24.519C24.2876 44.3733 24.0557 44.364 23.826 44.3333C23.6053 44.3058 23.4015 44.2007 23.2511 44.0367C23.1007 43.8728 23.0136 43.6607 23.0052 43.4384C22.9735 43.2194 23.0173 42.9963 23.1295 42.8056C23.2416 42.6149 23.4154 42.4682 23.6222 42.3896C23.9069 42.2904 24.21 42.2556 24.5097 42.2877H44.4769C44.7532 42.2607 45.0322 42.2852 45.2996 42.36C45.5248 42.4255 45.7187 42.5701 45.8457 42.7672C45.9727 42.9643 46.0242 43.2007 45.9907 43.4328C45.9843 43.6677 45.8902 43.8916 45.727 44.0607C45.5638 44.2297 45.3432 44.3316 45.1087 44.3463C44.8784 44.3673 44.6469 44.3735 44.4157 44.3648L34.4322 44.3611Z"
                                      fill="url(#paint7_linear_51_367)" />
                                <path d="M34.501 55.8734C31.104 55.8734 27.707 55.8734 24.3099 55.8734C23.8819 55.8734 23.4761 55.8419 23.1982 55.4565C23.1022 55.326 23.0382 55.1748 23.0113 55.015C22.9845 54.8552 22.9956 54.6913 23.0438 54.5366C23.0919 54.3819 23.1757 54.2406 23.2885 54.1243C23.4013 54.0079 23.5398 53.9197 23.6929 53.8667C23.9604 53.7923 24.2392 53.7671 24.5156 53.7926H44.4791C44.7095 53.7778 44.9408 53.7903 45.1683 53.8296C45.7038 53.9556 46.0207 54.3133 45.9966 54.871C45.9725 55.4287 45.6371 55.7975 45.0386 55.8586C44.833 55.8771 44.6236 55.8697 44.4161 55.8697L34.501 55.8734Z"
                                      fill="url(#paint8_linear_51_367)" />
                                <path d="M34.4992 60.0332C31.101 60.0332 27.7039 60.0332 24.3081 60.0332C23.7523 60.0332 23.2853 59.9369 23.0611 59.3717C23.0041 59.2315 22.9792 59.0803 22.9881 58.9292C22.9971 58.7781 23.0397 58.6309 23.1129 58.4984C23.1861 58.3659 23.2879 58.2514 23.4111 58.1633C23.5342 58.0753 23.6755 58.0159 23.8245 57.9894C24.0751 57.9504 24.3291 57.9373 24.5824 57.9505H44.4087C44.5477 57.9505 44.6866 57.9505 44.8256 57.9505C45.5668 57.9839 46.0226 58.4082 46.0022 59.0326C45.9818 59.6571 45.5557 60.024 44.8275 60.0258C41.3859 60.0357 37.9432 60.0382 34.4992 60.0332Z"
                                      fill="url(#paint9_linear_51_367)" />
                                <defs>
                                    <linearGradient id="paint0_linear_51_367" x1="-11.2431" y1="33.7845"
                                                    x2="61.5542" y2="33.7845" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#C39639" />
                                        <stop offset="1" stop-color="#EDD8A3" />
                                    </linearGradient>
                                    <linearGradient id="paint1_linear_51_367" x1="4.61363" y1="27.7652"
                                                    x2="20.7048" y2="27.7652" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#C39639" />
                                        <stop offset="1" stop-color="#EDD8A3" />
                                    </linearGradient>
                                    <linearGradient id="paint2_linear_51_367" x1="4.61005" y1="43.4498"
                                                    x2="20.7051" y2="43.4498" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#C39639" />
                                        <stop offset="1" stop-color="#EDD8A3" />
                                    </linearGradient>
                                    <linearGradient id="paint3_linear_51_367" x1="4.60905" y1="59.1104"
                                                    x2="20.7043" y2="59.1104" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#C39639" />
                                        <stop offset="1" stop-color="#EDD8A3" />
                                    </linearGradient>
                                    <linearGradient id="paint4_linear_51_367" x1="17.6471" y1="23.4082"
                                                    x2="49.7481" y2="23.4082" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#C39639" />
                                        <stop offset="1" stop-color="#EDD8A3" />
                                    </linearGradient>
                                    <linearGradient id="paint5_linear_51_367" x1="17.6327" y1="27.5652"
                                                    x2="49.7729" y2="27.5652" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#C39639" />
                                        <stop offset="1" stop-color="#EDD8A3" />
                                    </linearGradient>
                                    <linearGradient id="paint6_linear_51_367" x1="17.6549" y1="39.081"
                                                    x2="49.7557" y2="39.081" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#C39639" />
                                        <stop offset="1" stop-color="#EDD8A3" />
                                    </linearGradient>
                                    <linearGradient id="paint7_linear_51_367" x1="17.6453" y1="43.2431"
                                                    x2="49.7625" y2="43.2431" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#C39639" />
                                        <stop offset="1" stop-color="#EDD8A3" />
                                    </linearGradient>
                                    <linearGradient id="paint8_linear_51_367" x1="17.6484" y1="54.749"
                                                    x2="49.7589" y2="54.749" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#C39639" />
                                        <stop offset="1" stop-color="#EDD8A3" />
                                    </linearGradient>
                                    <linearGradient id="paint9_linear_51_367" x1="17.634" y1="58.9115"
                                                    x2="49.7665" y2="58.9115" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#C39639" />
                                        <stop offset="1" stop-color="#EDD8A3" />
                                    </linearGradient>
                                </defs>
                            </svg>
                            <h3 class="text-lg font-medium text-center mt-4">
                                Updating Site Cards
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- Column #5 -->
                <div class="lg:col-span-4 md:col-span-6 col-span-12 lg:block hidden">
                    <div></div>
                </div>
                <!-- Column #5 -->
                <div class="lg:col-span-4 md:col-span-6 col-span-12">
                    <div class="amendmendBx border border-primary p-6 h-[200px] flex justify-center items-center">
                        <div class="">
                            <svg class="mx-auto" width="50" height="50" viewBox="0 0 70 72" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.31494 71.0096C0.353062 70.5406 -0.0013285 69.7759 3.74042e-06 68.7088C0.0159906 47.8087 0.0204444 26.9085 0.0133391 6.0084C0.0133391 4.30447 0.800685 3.51577 2.50462 3.49312C3.47981 3.48113 3.47979 3.48114 3.48379 2.49794C3.48379 0.791349 4.28316 0 5.97777 0C20.4814 0 34.985 0 49.4886 0C51.2472 0 52.0505 0.811335 52.0532 2.60053C52.0532 6.75711 52.0532 10.9141 52.0532 15.0716V15.9749C52.5221 15.8243 52.7193 15.4713 52.9857 15.2168C53.5186 14.7092 54.0276 14.1697 54.5591 13.6554C55.1773 13.0599 55.5183 13.0639 56.1485 13.6674C56.5322 14.0338 56.9145 14.4042 57.2742 14.7945C57.57 15.1156 57.8164 15.1462 58.1375 14.8185C58.6704 14.2749 59.2473 13.7727 59.7868 13.2358C60.2424 12.7802 60.7087 12.7176 61.179 13.1732C61.4894 13.4743 61.7119 13.4143 61.9863 13.1239C62.4286 12.6523 62.8949 12.2033 63.3586 11.753C63.7795 11.344 64.2232 11.3373 64.6388 11.753C66.0483 13.1532 67.4592 14.5507 68.8474 15.9709C69.3017 16.4358 69.2683 16.954 68.8061 17.4456C68.3784 17.8999 67.9295 18.3329 67.4885 18.7779C67.3153 18.9511 67.2047 19.0963 67.3846 19.3694C67.9987 20.302 67.9854 20.3566 67.1794 21.1559C62.3727 25.9191 57.5611 30.6766 52.7446 35.4282C52.1358 36.0264 51.876 36.6272 51.8853 37.4825C51.9293 41.8922 51.9186 46.3033 51.9093 50.7143C51.9093 51.7801 51.836 52.8352 51.7934 53.8957C51.7654 54.5938 51.3457 55.1027 50.9141 55.5796C50.28 56.2817 49.6139 56.9571 48.9304 57.6126C48.7711 57.7597 48.6464 57.9403 48.5653 58.1414C48.4842 58.3425 48.4487 58.5592 48.4615 58.7757C48.4775 62.033 48.4455 65.289 48.4841 68.5449C48.4961 69.644 48.171 70.4834 47.1838 71.0176L1.31494 71.0096ZM45.2441 23.1157C44.7832 22.8665 44.5247 22.9278 44.2783 22.9278C40.3748 22.9225 36.4718 22.9203 32.5692 22.9211C32.2698 22.9256 31.9708 22.8997 31.6766 22.8439C31.261 22.7559 31.0584 22.4682 31.0718 22.0445C31.0851 21.6209 31.3289 21.3651 31.7379 21.2812C31.92 21.2503 32.1048 21.2373 32.2895 21.2425C36.6317 21.2425 40.9738 21.2425 45.316 21.2425C45.5945 21.2425 45.8969 21.2066 46.1154 21.3824C46.4618 21.6489 46.6749 21.509 46.9307 21.2492C47.9166 20.2433 48.9091 19.2428 49.9203 18.2623C50.0616 18.1292 50.1719 17.9667 50.2432 17.7861C50.3146 17.6056 50.3454 17.4116 50.3333 17.2178C50.3235 12.3676 50.3213 7.51737 50.3266 2.66714C50.3266 1.73458 50.2134 1.62135 49.2968 1.62135C34.9086 1.62135 20.5205 1.62135 6.1323 1.62135C5.18907 1.62135 5.09181 1.71594 5.09181 2.64984C5.09181 23.3679 5.09181 44.0855 5.09181 64.8027C5.09181 65.7593 5.17842 65.8485 6.10966 65.8485C16.4345 65.8485 26.7589 65.8463 37.0828 65.8418C37.9555 65.8418 37.9914 65.8045 37.9927 64.9532C37.9927 61.9735 37.9927 58.9937 37.9927 56.0139C37.9927 54.2021 38.7921 53.4027 40.6159 53.4001C43.5469 53.4001 46.48 53.4001 49.4153 53.4001C50.3372 53.4001 50.3479 53.4001 50.3479 52.4835C50.355 47.9334 50.3581 43.3834 50.3572 38.8334C50.3572 38.6362 50.4212 38.4204 50.2467 38.2086C50.1681 38.2397 50.0942 38.2814 50.0268 38.3325C48.9944 39.357 47.9685 40.3895 46.9361 41.4139C46.7176 41.6298 46.6776 41.8869 46.679 42.1733C46.679 43.1432 46.6856 44.1131 46.679 45.0829C46.667 46.7216 45.5452 47.866 43.9026 47.9019C43.0246 47.9206 42.1453 47.9352 41.2701 47.8953C41.008 47.877 40.7452 47.9191 40.502 48.0185C40.2587 48.1178 40.0416 48.2716 39.8672 48.4681C37.1574 51.2125 34.3851 53.897 31.7153 56.68C30.5562 57.8897 29.3891 58.8942 27.6013 58.7876C27.5783 58.7906 27.5555 58.7955 27.5333 58.8023C25.495 59.0434 23.462 59.4351 21.4184 59.4937C17.5642 59.6056 13.7047 59.5284 9.84789 59.5217C9.54883 59.5215 9.25075 59.4875 8.9593 59.4204C8.59427 59.3352 8.4424 59.0488 8.43841 58.6931C8.42447 58.5301 8.46487 58.3671 8.55332 58.2294C8.64177 58.0918 8.77327 57.9874 8.92733 57.9324C9.21509 57.8164 9.5175 57.8378 9.81592 57.8378C13.0737 57.8378 16.3306 57.8378 19.5866 57.8378C21.1653 57.8378 21.1653 57.8377 21.4171 56.283C21.5583 55.4197 21.5503 55.4104 20.707 55.4104C17.0584 55.4104 13.409 55.4104 9.75864 55.4104C9.52827 55.4196 9.29753 55.4107 9.06855 55.3838C8.8931 55.3637 8.73122 55.2797 8.61395 55.1476C8.49667 55.0156 8.43226 54.845 8.43307 54.6684C8.40521 54.4818 8.4513 54.2917 8.56155 54.1387C8.67179 53.9856 8.83747 53.8817 9.02324 53.849C9.27288 53.8047 9.52676 53.7891 9.77995 53.8024C13.1763 53.8024 16.5717 53.8024 19.9663 53.8024C21.7075 53.8024 21.6648 53.7944 21.9739 52.0532C22.0991 51.3418 21.8727 51.2312 21.2505 51.2352C17.463 51.2512 13.6741 51.2352 9.88653 51.2352C9.63284 51.2446 9.37882 51.2326 9.12716 51.1992C8.72749 51.1299 8.4424 50.8875 8.4304 50.4585C8.41842 50.0295 8.6409 49.6991 9.09652 49.6325C9.46187 49.5801 9.83054 49.5543 10.1996 49.5552C14.3562 49.5499 18.5137 49.5499 22.672 49.5552C22.9891 49.5552 23.3568 49.6498 23.6046 49.402C24.36 48.644 25.0874 47.858 25.9547 46.9494H9.83459C9.53617 46.9494 9.23243 46.9827 8.94333 46.8681C8.57696 46.7216 8.39044 46.4458 8.4304 46.0568C8.43577 45.8807 8.50516 45.7127 8.62559 45.5842C8.74602 45.4557 8.9092 45.3755 9.08452 45.3587C9.22196 45.342 9.36045 45.3353 9.49886 45.3387H26.0599C26.313 45.3387 26.5928 45.3041 26.7873 45.4932C27.0991 45.801 27.2949 45.6265 27.5293 45.3933C28.5418 44.3821 29.553 43.367 30.5935 42.3811C30.7627 42.2273 30.8951 42.0373 30.9811 41.8255C31.0671 41.6136 31.1045 41.3851 31.0904 41.1568C31.0691 39.3556 31.0691 37.5545 31.0904 35.7533C31.1051 34.0294 32.2481 32.8983 33.9747 32.885C35.5001 32.8743 37.0282 32.813 38.547 32.9063C39.6607 32.9742 40.4734 32.6478 41.2008 31.8072C41.6178 31.3276 41.7683 31.0385 41.2114 30.6082C40.9143 30.3515 40.6348 30.0751 40.3748 29.7808C39.5675 28.9695 39.5528 28.6791 40.3521 27.8944C41.9468 26.3037 43.5588 24.7516 45.2441 23.1157ZM46.8828 59.8175C46.5657 60.1172 46.3952 60.2691 46.234 60.429C44.4874 62.1769 42.6742 63.8648 41.0182 65.694C39.7633 67.0795 38.3178 67.5911 36.4886 67.5844C26.3969 67.5431 16.3066 67.5644 6.21488 67.5631C4.25116 67.5631 3.48246 66.7971 3.48246 64.8506V6.31082C3.48246 5.15178 3.48247 5.16777 2.33142 5.21306C1.83583 5.23305 1.60934 5.44219 1.62533 5.93246C1.63199 6.11764 1.62533 6.30281 1.62533 6.48666V68.1453C1.62533 68.3531 1.62533 68.561 1.62533 68.7674C1.62533 69.1378 1.80519 69.3243 2.17022 69.3349C2.4007 69.3349 2.6325 69.3456 2.86298 69.3456H45.6078C45.8157 69.3456 46.0235 69.3376 46.2313 69.3456C46.6989 69.3576 46.8974 69.1311 46.8881 68.6675C46.8734 67.9748 46.8801 67.282 46.8801 66.5892C46.8828 64.3964 46.8828 62.2062 46.8828 59.8175ZM29.5983 50.8449C29.6463 50.2307 29.8328 49.7045 30.2644 49.2728C31.0544 48.4961 31.8312 47.7061 32.6118 46.9201C37.8058 41.6995 43.0015 36.4789 48.199 31.2583C49.3261 30.1259 50.5131 30.1139 51.6628 31.2077C52.0392 31.5485 52.3976 31.9087 52.7366 32.2868C53.075 32.6798 53.3135 32.6638 53.6798 32.2868C55.64 30.2955 57.6161 28.3212 59.6083 26.3637C59.9946 25.984 59.9387 25.7748 59.5816 25.4311C58.1442 24.0296 56.7333 22.5987 55.3185 21.1786C54.6843 20.5444 54.6843 20.5444 54.0489 21.1786C44.1761 31.0567 34.3016 40.9335 24.4253 50.8089C24.1695 51.0647 24.0762 51.2459 24.3759 51.5429C25.9533 53.1008 27.5209 54.6675 29.0787 56.2431C29.3052 56.4709 29.4784 56.4922 29.7116 56.2591C30.335 55.6422 30.9665 55.0321 31.6127 54.4392C31.9151 54.1621 31.8605 53.957 31.5887 53.7012C31.1517 53.2908 30.7387 52.8552 30.3137 52.4302C29.8889 52.0074 29.6342 51.4432 29.5983 50.8449ZM51.94 33.9841C51.9403 33.9038 51.9225 33.8245 51.8879 33.752C51.8533 33.6796 51.8028 33.6159 51.7401 33.5657C51.4479 33.27 51.1548 32.9755 50.8608 32.6825C50.0482 31.8738 49.863 31.8725 49.0583 32.6825L31.8631 49.867C31.7485 49.9816 31.634 50.0948 31.5234 50.212C31.1997 50.5598 31.1997 50.9128 31.5234 51.2538C31.8924 51.6362 32.2948 51.9879 32.6398 52.3902C32.9849 52.7926 33.23 52.7446 33.5844 52.3796C34.8394 51.0873 36.1236 49.8257 37.3986 48.5507C42.0845 43.8648 46.7704 39.178 51.4563 34.4903C51.6362 34.3185 51.8027 34.1306 51.94 33.9841ZM48.9944 55.2719C48.9677 55.2186 48.9411 55.1666 48.9157 55.1133C46.15 55.1133 43.3843 55.1133 40.6186 55.1133C39.7286 55.1133 39.6154 55.2293 39.6154 56.1112C39.6154 58.6957 39.6154 61.2803 39.6154 63.8648C39.6154 64.0593 39.5342 64.2791 39.774 64.5056C42.9047 61.4841 45.9662 58.3933 48.9944 55.2719ZM56.4735 16.3132C56.2079 15.92 55.8681 15.5824 55.473 15.3194C55.1613 15.1276 55.0028 15.5219 54.8256 15.6991C52.9191 17.6122 51.034 19.5466 49.1223 21.4557C46.8193 23.7569 44.503 26.0448 42.1733 28.3194C41.7736 28.7084 41.7496 28.9669 42.188 29.2906C42.3167 29.3889 42.4327 29.5031 42.533 29.6303C42.7995 29.962 43.0353 29.9221 43.3324 29.6303C47.6204 25.3316 51.9128 21.0356 56.2097 16.7422C56.3097 16.6303 56.4549 16.5317 56.4669 16.3132H56.4735ZM62.9869 22.9451C62.9735 22.7186 62.835 22.6227 62.7204 22.5121C61.187 20.9761 59.6443 19.448 58.1269 17.9013C57.7898 17.5576 57.5766 17.6109 57.2902 17.9319C56.9704 18.2962 56.6268 18.6389 56.2617 18.9577C55.8967 19.2708 55.894 19.4973 56.2484 19.841C57.4754 21.0281 58.6717 22.247 59.8787 23.4554C61.1977 24.773 61.1977 24.7743 62.5326 23.4274C62.6898 23.2649 62.8403 23.089 62.9829 22.9451H62.9869ZM65.7019 20.0768C65.6513 19.849 65.4742 19.7264 65.3276 19.5826C64.09 18.3716 62.8416 17.1699 61.6133 15.9509C60.4143 14.7612 60.4356 14.7652 59.2673 15.9509C58.9409 16.2826 58.9582 16.4838 59.2766 16.7889C60.6088 18.0984 61.9211 19.436 63.252 20.7496C64.3857 21.8673 64.0513 21.8807 65.2104 20.7203C65.3929 20.5271 65.6367 20.3659 65.6953 20.0768H65.7019ZM38.4431 34.4956C36.7418 34.4956 35.231 34.4663 33.7216 34.5116C33.5981 34.5088 33.4752 34.5313 33.3607 34.5778C33.2462 34.6242 33.1424 34.6937 33.0558 34.7818C32.9691 34.87 32.9015 34.9749 32.857 35.0902C32.8125 35.2055 32.7921 35.3287 32.797 35.4522C32.7757 36.8337 32.781 38.2152 32.7797 39.5968C32.7797 39.7073 32.7624 39.8446 32.889 39.8978C33.0155 39.9511 33.1008 39.8419 33.1794 39.7646C34.8806 38.0567 36.5859 36.3488 38.4364 34.4956H38.4431ZM27.5947 57.1117C26.2531 55.7634 25.0341 54.5178 23.7898 53.2988C23.4594 52.9751 23.4367 53.3268 23.4074 53.5506C23.2409 54.8042 23.0917 56.0592 22.9105 57.3102C22.8652 57.6299 22.9358 57.7378 23.2569 57.6939C23.7578 57.6259 24.2627 57.5833 24.7636 57.5153C25.6562 57.3928 26.5542 57.2596 27.588 57.1117H27.5947ZM67.1701 16.589C67.0488 16.4558 66.9502 16.3226 66.8397 16.212C66.1736 15.5459 65.5075 14.8625 64.8294 14.2043C63.8968 13.3051 64.2245 13.2291 63.168 14.2176C62.7683 14.5893 62.8337 14.8238 63.1934 15.1635C63.9647 15.8936 64.6961 16.665 65.4582 17.4057C65.622 17.5656 65.7819 17.9293 66.059 17.7308C66.4908 17.4174 66.8646 17.031 67.1634 16.589H67.1701ZM45.0709 43.5242L44.9071 43.4163C44.1077 44.2263 43.3017 45.0296 42.509 45.8463C42.2546 46.1127 42.4344 46.2007 42.6982 46.2033C43.1565 46.2033 43.6161 46.2153 44.0731 46.19C44.7032 46.1554 45.0296 45.7743 45.0643 45.1695C45.0896 44.6233 45.0643 44.0731 45.0643 43.5242H45.0709Z"
                                      fill="url(#paint0_linear_51_400)" />
                                <path d="M8.37554 15.8603C8.37554 13.2052 8.4155 10.5487 8.36221 7.89487C8.32224 5.87786 9.64916 4.65221 11.5716 4.6975C15.7961 4.77877 20.0219 4.72014 24.2478 4.72414C25.9877 4.72414 26.9909 5.63007 27.1854 7.36731C27.2131 7.64263 27.2256 7.91926 27.2227 8.19596C27.2227 13.3473 27.2227 18.4986 27.2227 23.6499C27.2214 24.0189 27.196 24.3874 27.1468 24.753C26.9642 26.1066 25.9344 27.1017 24.5769 27.1097C20.0473 27.135 15.527 27.143 11.0014 27.1097C9.41735 27.0977 8.3915 25.8481 8.38084 24.0456C8.36086 21.3092 8.37554 18.5847 8.37554 15.8603ZM10.0661 15.9123C10.0661 18.6354 10.0661 21.3594 10.0661 24.0842C10.0661 25.1274 10.4272 25.4937 11.489 25.4964C15.6908 25.5044 19.8923 25.5044 24.0933 25.4964C25.1697 25.4964 25.5361 25.1101 25.5374 24.0309C25.5374 18.6283 25.5374 13.2265 25.5374 7.82559C25.5374 6.65589 25.223 6.33349 24.0719 6.33349C19.8701 6.33349 15.6686 6.33349 11.4677 6.33349C10.4019 6.33349 10.0688 6.66257 10.0661 7.74434C10.0617 10.4648 10.0617 13.1874 10.0661 15.9123Z"
                                      fill="url(#paint1_linear_51_400)" />
                                <path d="M17.7743 38.7361H9.81414C9.51439 38.7361 9.21332 38.7561 8.92555 38.6389C8.77199 38.5834 8.64108 38.4788 8.55314 38.3412C8.4652 38.2036 8.42518 38.0408 8.4393 37.8782C8.4393 37.5211 8.59649 37.2374 8.96019 37.1521C9.25177 37.0858 9.54976 37.0518 9.84878 37.0509C15.1564 37.0455 20.4636 37.0455 25.7703 37.0509C26.0235 37.0487 26.2762 37.0728 26.5244 37.1228C26.9387 37.2134 27.1439 37.4918 27.1412 37.9222C27.1386 38.3525 26.9041 38.6149 26.4924 38.6935C26.2421 38.7313 25.9888 38.7465 25.7357 38.7388C23.0819 38.7388 20.4281 38.7379 17.7743 38.7361Z"
                                      fill="url(#paint2_linear_51_400)" />
                                <path d="M17.8315 41.1914C20.4836 41.1914 23.137 41.1914 25.7917 41.1914C26.0674 41.1858 26.3428 41.2127 26.6123 41.2714C26.968 41.358 27.1345 41.6244 27.1452 41.9908C27.1623 42.1531 27.1252 42.3166 27.0396 42.4556C26.9541 42.5947 26.8249 42.7015 26.6723 42.7595C26.4112 42.8534 26.1339 42.8933 25.8569 42.8767C20.48 42.8767 15.1036 42.8767 9.72754 42.8767C9.54288 42.8765 9.35851 42.8622 9.17601 42.8341C8.69907 42.7608 8.42462 42.4904 8.44328 41.9908C8.4606 41.5271 8.74434 41.2807 9.18398 41.2194C9.43613 41.1923 9.68985 41.1825 9.94334 41.1901C12.5723 41.1892 15.2017 41.1896 17.8315 41.1914Z"
                                      fill="url(#paint3_linear_51_400)" />
                                <path d="M17.7908 34.5875C15.1379 34.5875 12.4845 34.5875 9.83067 34.5875C9.55489 34.5974 9.27893 34.5741 9.00869 34.5183C8.83495 34.4861 8.67941 34.3904 8.57249 34.2497C8.46558 34.109 8.41495 33.9336 8.43049 33.7576C8.44115 33.3765 8.62898 33.0834 9.02066 33.0048C9.33688 32.9413 9.65866 32.9096 9.9812 32.9102C15.1956 32.9049 20.41 32.9049 25.6244 32.9102C25.9469 32.9083 26.2689 32.94 26.5849 33.0048C26.9739 33.0888 27.1484 33.3739 27.1511 33.7682C27.1675 33.9435 27.1175 34.1186 27.0109 34.2588C26.9043 34.399 26.7489 34.494 26.5756 34.5249C26.3271 34.5753 26.0736 34.5963 25.8202 34.5875C23.1442 34.5902 20.4677 34.5902 17.7908 34.5875Z"
                                      fill="url(#paint4_linear_51_400)" />
                                <path d="M38.8521 4.60157C40.9744 4.60157 43.098 4.60157 45.2215 4.60157C45.4974 4.59571 45.7729 4.62301 46.0422 4.68285C46.2149 4.7201 46.3681 4.8189 46.4733 4.96084C46.5785 5.10278 46.6284 5.27814 46.6137 5.45419C46.6242 5.63041 46.5688 5.80424 46.4582 5.94187C46.3477 6.07951 46.1899 6.17113 46.0155 6.19892C45.7219 6.25591 45.4234 6.28448 45.1243 6.2842C40.9242 6.28953 36.7237 6.28953 32.5227 6.2842C32.2236 6.29053 31.9249 6.25826 31.6341 6.18825C31.2251 6.08034 31.0439 5.77128 31.0759 5.34763C31.08 5.17178 31.148 5.00342 31.2671 4.874C31.3863 4.74458 31.5484 4.66291 31.7233 4.64421C31.9741 4.60619 32.2279 4.59147 32.4814 4.60023C34.6085 4.59935 36.7321 4.59979 38.8521 4.60157Z"
                                      fill="url(#paint5_linear_51_400)" />
                                <path d="M38.8045 14.6293H32.2992C32.0221 14.6293 31.7423 14.6413 31.4905 14.4961C31.3453 14.4216 31.2272 14.3032 31.1531 14.1578C31.079 14.0124 31.0525 13.8473 31.0775 13.686C31.0833 13.5222 31.1478 13.3659 31.2594 13.2458C31.371 13.1257 31.5221 13.0498 31.685 13.0319C31.9802 12.9796 32.2792 12.9524 32.579 12.9507C36.7764 12.9453 40.9752 12.9453 45.1753 12.9507C45.3365 12.9507 45.499 12.9507 45.6589 12.9667C46.1917 13.0106 46.6421 13.2118 46.6088 13.8299C46.5754 14.4481 46.1318 14.6293 45.5882 14.6293C43.3279 14.6293 41.0666 14.6293 38.8045 14.6293Z"
                                      fill="url(#paint6_linear_51_400)" />
                                <path d="M38.8784 18.7779H32.441C32.1412 18.7779 31.8402 18.7899 31.5564 18.6607C31.4041 18.6027 31.2747 18.497 31.1873 18.3594C31.1 18.2219 31.0593 18.0598 31.0714 17.8974C31.0624 17.7335 31.1122 17.5717 31.2118 17.4413C31.3115 17.3108 31.4545 17.2203 31.615 17.1859C31.8833 17.1216 32.1584 17.0903 32.4343 17.0927C36.6806 17.0865 40.926 17.0865 45.1705 17.0927C45.3317 17.0927 45.4929 17.0927 45.6541 17.1073C46.187 17.154 46.636 17.3525 46.608 17.9706C46.58 18.5888 46.131 18.77 45.5915 18.77C43.3533 18.77 41.1165 18.77 38.8784 18.77V18.7779Z"
                                      fill="url(#paint7_linear_51_400)" />
                                <path d="M38.8138 8.87133H45.5229C45.872 8.87133 46.2197 8.87132 46.4555 9.19239C46.5319 9.29434 46.5823 9.41333 46.6025 9.53911C46.6227 9.66488 46.612 9.79366 46.5714 9.91438C46.5308 10.0351 46.4614 10.1442 46.3692 10.2321C46.2771 10.3201 46.165 10.3844 46.0425 10.4194C45.8182 10.4712 45.5876 10.4909 45.3577 10.478C41.0235 10.478 36.6893 10.478 32.3551 10.478C32.2219 10.478 32.078 10.478 31.9408 10.47C31.4079 10.426 31.0575 10.1809 31.0748 9.60673C31.0922 9.03253 31.4612 8.87 31.9634 8.87L38.8138 8.87133Z"
                                      fill="url(#paint8_linear_51_400)" />
                                <path d="M35.9635 25.5017C37.2557 25.5017 38.548 25.5017 39.8403 25.5017C40.3905 25.5017 40.8328 25.6496 40.8328 26.285C40.8328 26.9205 40.4091 27.1097 39.8563 27.1097C37.2495 27.1097 34.6419 27.1097 32.0334 27.1097C31.4818 27.1097 31.0742 26.8832 31.0782 26.2637C31.0822 25.6443 31.4938 25.5043 32.0174 25.507C33.3336 25.5057 34.6485 25.503 35.9635 25.5017Z"
                                      fill="url(#paint9_linear_51_400)" />
                                <defs>
                                    <linearGradient id="paint0_linear_51_400" x1="-0.94724" y1="35.8127"
                                                    x2="95.9402" y2="35.8127" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#C39639" />
                                        <stop offset="1" stop-color="#EDD8A3" />
                                    </linearGradient>
                                    <linearGradient id="paint1_linear_51_400" x1="8.10303" y1="16.01"
                                                    x2="34.5226" y2="16.01" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#C39639" />
                                        <stop offset="1" stop-color="#EDD8A3" />
                                    </linearGradient>
                                    <linearGradient id="paint2_linear_51_400" x1="8.18038" y1="37.9011"
                                                    x2="34.38" y2="37.9011" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#C39639" />
                                        <stop offset="1" stop-color="#EDD8A3" />
                                    </linearGradient>
                                    <linearGradient id="paint3_linear_51_400" x1="8.18621" y1="42.0413"
                                                    x2="34.3888" y2="42.0413" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#C39639" />
                                        <stop offset="1" stop-color="#EDD8A3" />
                                    </linearGradient>
                                    <linearGradient id="paint4_linear_51_400" x1="8.17129" y1="33.7552"
                                                    x2="34.4013" y2="33.7552" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#C39639" />
                                        <stop offset="1" stop-color="#EDD8A3" />
                                    </linearGradient>
                                    <linearGradient id="paint5_linear_51_400" x1="30.8594" y1="5.45022"
                                                    x2="52.6317" y2="5.45022" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#C39639" />
                                        <stop offset="1" stop-color="#EDD8A3" />
                                    </linearGradient>
                                    <linearGradient id="paint6_linear_51_400" x1="30.8555" y1="13.7953"
                                                    x2="52.6253" y2="13.7953" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#C39639" />
                                        <stop offset="1" stop-color="#EDD8A3" />
                                    </linearGradient>
                                    <linearGradient id="paint7_linear_51_400" x1="30.8565" y1="17.9404"
                                                    x2="52.6232" y2="17.9404" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#C39639" />
                                        <stop offset="1" stop-color="#EDD8A3" />
                                    </linearGradient>
                                    <linearGradient id="paint8_linear_51_400" x1="30.8614" y1="9.68282"
                                                    x2="52.6257" y2="9.68282" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#C39639" />
                                        <stop offset="1" stop-color="#EDD8A3" />
                                    </linearGradient>
                                    <linearGradient id="paint9_linear_51_400" x1="30.9445" y1="26.3126"
                                                    x2="44.6078" y2="26.3126" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#C39639" />
                                        <stop offset="1" stop-color="#EDD8A3" />
                                    </linearGradient>
                                </defs>
                            </svg>
                            <h3 class="text-lg font-medium text-center mt-4">
                                Completed ECAF forms
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div id="attached_adhocPop" class="bg-secondary border border-primary md:w-[90%] w-full p-5"
     style="display: none;">
    <div class="bg-secondaryDark md:px-12 px-6 py-6">
        <h2 class="text-3xl font-bold text-center mb-12">
            ECAF GUIDANCE
        </h2>
        <div class="">
            <p class="text-base font-semibold underline leading-tight mb-2">
                Please ensure you read the following instructions carefully to enable your ECAF to be
                actioned accordingly:
            </p>
            <p class="text-base leading-tight mb-2">
                <span class="font-semibold">Abbreviations Policy:</span>
                Under no circumstances will abbreviations be accepted. For example, please type
                'Security Officer' NOT 'SO'.
            </p>
            <p class="text-base leading-tight mb-2">
                <span class="font-semibold">ECAF Template Usage:</span>
                This ECAF form is ONLY for updating pay/charge rates against an EXISTING site card.
            </p>
            <p class="text-base leading-tight mb-2">
                <span class="font-semibold"> ADHOC Cards Limit:</span>
                You can add up to 3 ADHOC cards that have the same rates, as long as they are attached
                to the main card. If more than 3, another ECAF will need to be completed.
            </p>
            <p class="text-base leading-tight mb-2">
                <span class="font-semibold">Detailed Information Requirement:</span>
                ALL ADHOC cards must be detailed for them to be updated.
            </p>
            <p class="text-base leading-tight mb-2">
                <span class="font-semibold">Employee Details Inclusion: </span>
                ALL permanent employees affected by a pay rate change MUST be detailed on the ECAF in
                the relevant section. The only exceptions are response officers.
            </p>
            <p class="text-base leading-tight mb-2">
                <span class="font-semibold">SALARY and HOURLY Employees:</span>
                If an employee is SALARIED, only put their salary in the 'Payrate/Salary' section.
                Please add the correct one. If an employee is HOURLY, only put their pay rate in the
                'Payrate/Salary' section. Please add the correct one.
            </p>
            <p class="text-base leading-tight mb-2">
                <span class="font-semibold">Completion Requirement:</span>
                Any sections not filled out as required will result in the ECAF being declined.
            </p>

        </div>
        <div class="flex justify-end pt-5">
            <button id="attached_adhocCont"
                    class="ml-auto flex items-center justify-center gap-x-6 bg-secondary px-4 py-2 rounded-full next-btn">
                <span class="md:text-lg text-base font-medium ">Continue</span>
                <svg width="24" height="25" viewBox="0 0 41 25" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M3.29395 14.2085L32.4621 14.2085L23.5309 21.6569C22.6607 22.3812 22.8033 23.4592 23.8456 24.0622C24.8904 24.6669 26.4392 24.5679 27.3069 23.8435L39.5986 13.5935C39.6945 13.5132 39.7437 13.4193 39.8149 13.3304C39.8739 13.2587 39.9452 13.1972 39.9895 13.1186C40.1001 12.9222 40.1665 12.7154 40.1665 12.507C40.1665 12.5053 40.1689 12.5019 40.1689 12.5002C40.1689 12.4985 40.1665 12.4951 40.1665 12.4934C40.1665 12.2849 40.1001 12.0782 39.9895 11.8818C39.9452 11.8032 39.8739 11.7417 39.8149 11.6699C39.7437 11.5811 39.6945 11.4872 39.5986 11.4069L27.3069 1.15686C26.8202 0.751984 26.122 0.541858 25.4189 0.541858C24.8634 0.541858 24.3053 0.671692 23.8456 0.938192C22.8033 1.54123 22.6607 2.61919 23.5309 3.34353L32.4621 10.7919L3.29395 10.7919C1.93695 10.7919 0.835616 11.5572 0.835616 12.5002C0.835616 13.4432 1.93695 14.2085 3.29395 14.2085"
                          fill="white" />
                </svg>
            </button>
        </div>
    </div>

</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/bundles/jqueryval"></script>
<script>
    $(document).ready(function () {
        $('#mainMenuDrop').click(function () {
            $(this).toggleClass('active');
            $('.mainMenuDropBox').toggleClass('active');
        });
        $('.mainMenuCloseIcon').click(function () {
            $(this).closest('.mainMenuDropBox').removeClass('active');
        });
        $('#SetUpSiteCard').click(function () {
            window.location.href = '/SiteCard/SetUpSiteCard';
        });
        $('#UpdateSiteCard').click(function () {
            
            $('#attached_adhocPop').show()
        });
        $('#attached_adhocCont').click(function () {
              window.location.href = '/SiteCard/UpdateSiteCard';
        });
        $('#TerminatingSiteCard').click(function () {
            window.location.href = '/SiteCard/TerminatingSiteCard';
        });
        $('#ECAF_Form').click(function () {
            window.location.href = '/SiteCard/ECAFForm';
        });
    });
</script>




