<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calender</title>
    <link href="~/Content/tailwind.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.css">*@

</head>
<body>
    <div class="flex">
        @RenderBody()
    </div>
</body>
</html>
